*.zip
*.dat
*.log
*.jou
*.sublime-workspace
*.sublime-project
*.ld
*.pdf
*.str
hdl/*.o
hdl/*.cf
hdl/data/
python/data/
papers/
dmount/
vivado/
zybo/
papers/
hdl/xil_defaultlib/
.Xil/

NA/
osmodels/

# Temporarily
sphinx/


